<div style="display: flex; flex-direction: column;">
  <ng-container>


    <app-service-view
    [catalog]="catalog"></app-service-view>


</ng-container>

  <!-- <h2>Formulaire</h2>

  <form [formGroup]="createForm">
  <mat-form-field>
    <mat-label>Champ un</mat-label>
    <input matInput [(ngModel)]=champ1/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Champ deux</mat-label>
    <input matInput [(ngModel)]=champ2/>
  </mat-form-field>
  <menu>
  </menu>
  <button mat-raised-button type="submit">Envoyer</button>
  </form>
  <p>{{champ1}}</p> -->
</div>
