.formulaire{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 2em;
}

.new-body{
    display: flex;
    justify-content: center;
}

.bouton-formulaire{
    display: flex;
    justify-content: center;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #3f51b5;
    color: #ffffff;
    transition: background-color 0.5s, color 0.3s;
}

.mat-mdc-raised-button:not(:disabled):hover {
    background-color: #ffffff;
    color: #3f51b5;
}




