<div class="new-body">
    <form [formGroup]="createForm" (ngSubmit)="submit()">
        <div class="formulaire">
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prix</mat-label>
                <input type="number" matInput formControlName="price" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Catégorie</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category['categoryId']">
                        {{ category["categoryName"] }}
                    </mat-option>
                    <mat-option value="nouvelle">
                        Nouvelle
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="createForm.get('category')?.value === 'nouvelle'">
              <mat-label>Nouvelle Catégorie</mat-label>
              <input matInput formControlName="newCategoryName" />
            </mat-form-field>
            <div class="bouton-formulaire">
                <button mat-raised-button type="submit">Envoyer</button>
            </div>
        </div>
        
    </form>
</div>